* {
    color: white;
    font-family: 'Sono', sans-serif;
}

body {
    background: darkslategray url('../img/bg.jpeg') no-repeat;
    background-position: center;
    background-size: 125%;
}

.title {
    position: absolute;
    top: 5%;
}

.pricing-plan button {
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 100px;
    height: 30px;
    background: transparent;
    transition: 0.5s;
}

.pricing-plan button:hover {
    cursor: pointer;
    background-color: rgb(0, 255, 255);
    box-shadow: 1px 0px 15px cyan;
    font-weight: bold;
}

.pricing-container {
    display: flex;
    height: 95vh;
    justify-content: center;
    align-items: center;
}

.pricing-plan {
    width: 45vh;
    height: 30vh;
    background: transparent;
    backdrop-filter: blur(5px);
    margin: 20px;
    padding: 12px;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.3);
    transition: 0.5s;
}

.plan-features {
    list-style: none;
    text-align: left;
}

.plan-title, .plan-price {
    text-align: center;  
    font-weight: bold;
    font-size: 20px;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 25px;
    background: rgba(0, 0, 0, 0.4);
    top: 96%;
}


@media (max-width: 1080px) {

    .pricing-plan {
        flex-wrap: wrap;
        flex-direction: row;
        height: 25%;
    }
    .pricing-container {
        flex-flow: column;
    }

    .title {
        display: flex;
        align-items: center;
        height: 10vh;
        z-index: 1;
        position: relative;
        margin-bottom: 30px;
    }

    .foot {
        margin-top: 100px;
        z-index: -1;
    }
}